body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 115%;
  margin: 0;
}

body > header {
  background-color: #005bbb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  color: #fff;
  padding: 1rem;
}

body > main {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  max-width: 960px;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
  margin: auto;
  max-width: 960px;
}

h2 {
  margin: 0;
}

noscript p {
  color: #900;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

li:not(:first-child) {
  margin-top: .25rem;
}

.generate-button {
  margin: 1rem 0 2rem;
  width: 100%;
}

button {
  background-color: #005bbb;
  border: none;
  border-radius: .2rem;
  box-shadow: 0 0 2px 2px #e4e4e4;
  color: #fff;
  font-size: 105%;
  font-weight: bold;
  padding: .3rem;
}
button:focus,
button:hover {
  background-color: #fff;
  box-shadow: 0 0 2px 2px #005bbb;
  color: #005bbb;
}

input:focus,
input:hover,
select:focus,
select:hover {
  box-shadow: 0 0 2px 2px #005bbb;
}

button,
input,
select {
  transition: all 250ms;
}

form {
  background-color: #e4e4e4;
  border-radius: .2rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-around;
  margin-top: .25rem;
  padding: .5rem;
}

form button {
  border: 1px solid #fff;
}
form button:focus,
form button:hover {
  border-color: #005bbb;
}

form input,
form select {
  border: 1px solid #005bbb;
  padding: .2rem;
}

form button,
form input,
form select {
  border-radius: .2rem;
  font-size: 105%;
  width: 100%;
}

form label {
  margin-bottom: .5rem;
}

@media (min-width: 720px) {
  form {
    flex-direction: row;
  }

  form label {
    margin-bottom: auto;
    margin-top: auto;
  }

  form button,
  form input,
  form select {
    width: unset;
  }
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 95%;
  justify-content: space-between;
}
.course {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: .1rem;
  width: 100%;
}
.course header {
  background-color: #666;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  padding: .5rem;
  text-align: center;
}
.course button {
  float: right;
  margin: 5px;
}
.course dl {
  display: grid;
  grid-column-gap: 2px;
  margin: 0;
  padding: .5rem;
}
.course dt {
  grid-column: 1;
}
.course dt::after {
  content: ": ";
}
.course dd {
  grid-column: 2;
  margin: 0;
}

@media (min-width: 690px) {
  .course {
    max-width: 48%;
  }
}

@media (min-width: 900px) {
  .course {
    max-width: 32%;
  }
}
