<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar Generator | UB Utils</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='calendar_generator.css') }}">
</head>
<body>
  <header>
    <h1>UB Utils: Calendar Generator</h1>
  </header>
  <noscript>
    <p>JavaScript is required for this page to function properly.</p>
  </noscript>
  <main>
    {% raw -%}
      <section id="course-search">
        <h2>Search for Courses</h2>
        <form onsubmit="return false;">
          <label>
            Semester:
            <select v-model="semesters.selected">
              <option
                  v-for="(value, key) in semesters.all"
                  v-bind:value="key">
                {{ value }}
              </option>
            </select>
          </label>

          <label>
            Course:
            <input type="search" v-model="search.query" required>
          </label>

          <button v-on:click="doSearch(true)">Search</button>
        </form>

        <p v-if ="isLoading">Loading...</p>
        <template v-else>
          <p v-if="search.results.length === 0">No results.</p>
          <ul v-else>
            <li v-for="result in search.results" v-if="!result.isSelected">
              <button v-on:click="select(result)">+</button>
              {{ result.summary }}
            </li>
          </ul>
        </template>
      </section>

      <section id="selected-courses">
        <template v-if="courses.length > 0">
          <h2>Selected Courses</h2>
          <ul>
            <li v-for="course in courses">
              <button v-on:click="unselect(course)">-</button>
              {{ course.summary }}
            </li>
          </ul>

          <div class="generate-button-container">
            <button v-on:click="generateCalendar">Generate Calendar</button>
          </div>
        </template>
      </section>
    {%- endraw %}
  </main>
{#  <footer></footer>#}
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="{{ url_for('static', filename='calendar_generator.js') }}"></script>
</body>
</html>
