<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar Generator | UB Utils</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='calendar_generator.css') }}">
</head>
<body>
  <header>
    <h1>UB Utils: Calendar Generator</h1>
  </header>
  <noscript>
    <p>JavaScript is required for this page to function properly.</p>
  </noscript>
  <main>
    {% raw -%}
      <section id="course-search">
        <h2>Search for Courses</h2>
        <form onsubmit="return false;">
          <label>
            Semester:
            <select v-model="semesters.selected">
              <option
                  v-for="(value, key) in semesters.all"
                  v-bind:value="key">
                {{ value }}
              </option>
            </select>
          </label>

          <label>
            Course:
            <input type="search" v-model="search.query" required>
          </label>

          <button v-on:click="doSearch(true)">Search</button>
        </form>

        <p v-if ="isLoading">Loading...</p>
        <template v-else>
          <p v-if="search.results.length === 0">No results.</p>
          <div v-else class="courses">
            <course
                v-for="result in search.results"
                v-if="!result.isSelected"
                v-bind:course="result"
                v-bind:action="select"
                help="Add to calendar"
                text="+">
            </course>
          </div>
        </template>
      </section>

      <section id="selected-courses">
        <template v-if="courses.length > 0">
          <h2>Selected Courses</h2>
          <div class="courses">
            <course
                v-for="course in courses"
                v-bind:course="course"
                v-bind:action="unselect"
                help="Remove from calendar"
                text="-">
            </course>
          </div>

          <button class="generate-button" v-on:click="generateCalendar()">
            Generate Calendar
          </button>
        </template>
      </section>
    {%- endraw %}
  </main>
{#  <footer></footer>#}
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="{{ url_for('static', filename='calendar_generator.js') }}"></script>
</body>
</html>
